fastapi==0.116.1
uvicorn[standard]==0.35.0
websockets==15.0.1
pandas==2.3.2
numpy==2.2.6
lightgbm==4.6.0
joblib==1.5.1
scikit-learn==1.7.0
pandas-ta
requests==2.32.4
httpx==0.28.1
python-dotenv==1.1.0
PyJWT==2.10.1
boto3
pyarrow
scipy
